@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --primary-gradient-start: hsl(249, 99%, 64%);
    --primary-gradient-end: hsl(278, 94%, 30%);
    --primary-red: hsl(0, 100%, 66%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grayish-violet: hsl(270, 3%, 87%);
    --neutral-dark-grayish-violet: hsl(279, 6%, 55%);
    --neutral-very-dark-violet: hsl(278, 68%, 11%);
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.complete{
    display: none;
    flex: 1;
    align-self: center;
    margin-right: 7%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    

.background {
    position: relative;
    flex: 1;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
}

.bg {
    height: 99.3vh;
}

.card-front {
    position: absolute;
    top: 20%;
    background-image: url(./images/bg-card-front.png);
    height: 205px;
    width: 427px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 11rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1.3rem;
    box-sizing: border-box;
    color: white;
    letter-spacing: 1px;
}

.card-front img {
    height: 30px;
    width: 55px;
    margin-bottom: 2rem;
}

#front-number {
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    margin-bottom: 1rem;
}

.name-row {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
}

#expiration {
    margin-left: auto;
    margin-right: 4rem;
}

.card-back {
    position: absolute;
    top: 51%;
    background-image: url(./images/bg-card-back.png);
    height: 205px;
    width: 427px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 15rem;

}

#back-number {
    text-align: right;
    margin-right: 6rem;
    margin-top: 5.5rem;
    color: white;
}

.input-fields {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20%;
    width: 50%;
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: row;
}

label {
    text-align: left;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

input {

    width: 18rem;
    height: 2.5rem;
    border: 1px solid var(--neutral-light-grayish-violet);
    border-radius: 5px;
    padding: .8rem;
    box-sizing: border-box;
}
.error{
    margin: 0;
    color: red;
    font-size: .6rem;
    margin-bottom: 1rem;
    width: 5rem;
}
#card-error{
    width: 20rem;
}
.red-border{
    border: 1px solid red;
}

.input-group label {
    margin-bottom: 0.5rem;
    text-align: left;
}



#exp-date-month {
    display: flex;
    flex-direction: column;
    width: 15%;
}

#exp-date-mm {
    width: 80%;
}

#exp-date-year {
    display: flex;
    flex-direction: column;
    width: 15%;
}

#exp-date-yy {
    width: 80%;
}

.cvc {
    display: flex;
    flex-direction: column;
}

#cvc {
    width: 69%;
}
#confirm-button {
    width: 18rem;
    color: white;
    background-color: var(--neutral-very-dark-violet);
    border-radius: 5px;
    height: 2.5rem;
    border: none;

}
#confirm-button:hover{
    cursor: pointer;
}

@media (max-width: 650px) {
    html{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    main {
        flex-direction: column;
    }

    .background {
        position: relative;
        background-image: url(./images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        flex: auto;
    }

    .input-fields {
        margin-left: 5%;
        font-size: 20px;
        flex: auto;
        width: auto;
        justify-content: flex-start;
        top: 10%;
        position: relative;
  
    }
    .complete{
        flex: auto;
        bottom: 10%;
        position: relative;
        margin-right: 0;
        width: 100%;
    }

    input {

        width: 95%;
        height: 2.5rem;
        border: 1px solid var(--neutral-light-grayish-violet);
        border-radius: 5px;
        padding: .8rem;
        box-sizing: border-box;
    }
    .input-group {
        justify-content: space-between;
        width: 95%;
    }
    #exp-date-mm {
        width: 5rem;
        margin-right: .5rem;
    }
    #exp-date-yy {
        width: 5rem;
    }
    #cvc {
        width: 7rem;
    }
    label {
        font-size: .7rem;
        width: 100%;

    }

    .card-front {
        top: 60%;
        height: 150px;
        width: 300px;
        left: 5%;
        z-index: 1;
        letter-spacing: 1px;
    }

    #front-number {
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        margin-bottom: .5rem;
    }

    .name-row {
        display: flex;
        flex-direction: row;
        font-size: .6rem;
    }
    #expiration {
        margin-left: auto;
        margin-right: 2rem;
    }

    .card-front img {
        margin-bottom: 1rem;
    }

    .card-back {
        top: 25%;
        height: 150px;
        width: 300px;
        left: 4rem;
    }

    #back-number {
        text-align: right;
        margin-right: 4rem;
        margin-top: 3.9rem;
        color: white;
    }
    #confirm-button {
        width: 95%;
        height: 3rem;
    }
    label{
        letter-spacing: 1px;
    }
    .input-group label {
        width: 5rem;
    }
    .error{
        margin-bottom: .6rem;
    }
}